In [1]:
import pandas as pd

In [2]:
weather = pd.read_csv('daily_weather.csv')

In [3]:
weather.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [139]:
weather.columns

Index(['number', 'air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [4]:
weather.isnull()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
1090,False,False,False,False,False,False,False,False,False,False,False
1091,False,False,False,False,False,False,False,False,False,False,False
1092,False,False,False,False,False,False,False,False,False,False,False
1093,False,False,False,False,False,False,False,False,False,False,False
1094,False,False,False,False,False,False,False,False,False,False,False

In [5]:
weather.isnull().sum()

number                    0
air_pressure_9am          3
air_temp_9am              5
avg_wind_direction_9am    4
avg_wind_speed_9am        3
max_wind_direction_9am    3
max_wind_speed_9am        4
rain_accumulation_9am     6
rain_duration_9am         3
relative_humidity_9am     0
relative_humidity_3pm     0
dtype: int64

In [6]:
del weather['number']

In [144]:
weather.shape

(1095, 10)

In [7]:
weather = weather.dropna()

In [8]:
weather.isnull().sum()

air_pressure_9am          0
air_temp_9am              0
avg_wind_direction_9am    0
avg_wind_speed_9am        0
max_wind_direction_9am    0
max_wind_speed_9am        0
rain_accumulation_9am     0
rain_duration_9am         0
relative_humidity_9am     0
relative_humidity_3pm     0
dtype: int64

In [109]:
weather.columns

Index(['air_pressure_9am', 'air_temp_9am', 'avg_wind_direction_9am',
       'avg_wind_speed_9am', 'max_wind_direction_9am', 'max_wind_speed_9am',
       'rain_accumulation_9am', 'rain_duration_9am', 'relative_humidity_9am',
       'relative_humidity_3pm'],
      dtype='object')

In [9]:
weather['relative_humidity_3pm']

0       36.160000
1       19.426597
2       14.460000
3       12.742547
4       76.740000
          ...
1090    38.180000
1091    73.340000
1092    52.310000
1093    58.280000
1094    15.100000
Name: relative_humidity_3pm, Length: 1064, dtype: float64

In [10]:
weather_new =  weather
weather_new['Humidity_label'] = (weather_new['relative_humidity_3pm'] > 30) *1
print (weather_new['Humidity_label'])

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: Humidity_label, Length: 1064, dtype: int64

In [11]:
output =  weather_new['Humidity_label']

In [12]:
output

0       1
1       0
2       0
3       0
4       1
       ..
1090    1
1091    1
1092    1
1093    1
1094    0
Name: Humidity_label, Length: 1064, dtype: int64

In [85]:
# weather_new['relative_humidity_3pm']

In [13]:
time = '9am'
features = list(weather_new.columns[weather_new.columns.str.contains(time)])
# 1

In [14]:
weather_new

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm,Humidity_label
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000,1
1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597,0
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000,0
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547,0
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000,1
...,...,...,...,...,...,...,...,...,...,...,...
1090,918.900000,63.104000,192.900000,3.869906,207.300000,5.212070,0.0,0.0,26.020000,38.180000,1
1091,918.710000,49.568000,241.600000,1.811921,227.400000,2.371156,0.0,0.0,90.350000,73.340000,1
1092,916.600000,71.096000,189.300000,3.064608,200.800000,3.892276,0.0,0.0,45.590000,52.310000,1
1093,912.600000,58.406000,172.700000,3.825167,189.100000,4.764682,0.0,0.0,64.840000,58.280000,1
1094,921.530000,77.702000,97.100000,3.265932,125.900000,4.451511,0.0,0.0,14.560000,15.100000,0

In [60]:
# del weather_new['High_Humidity_label']

In [115]:
# del weather_new['relative_humidity_3pm']

In [152]:
# weather_new.head()

In [153]:
# weather_new

In [51]:
X = weather_new[features]

In [52]:
# del weather_new['relative_humidity_9am']

In [53]:
from sklearn.model_selection import train_test_split

In [36]:
# kf = KFold(n_splits = 4)

In [37]:
# kf.get_n_splits(X)

4

In [40]:
# print(kf)

KFold(n_splits=4, random_state=None, shuffle=False)

In [58]:
# KFold(n_splits=2, random_state=None, shuffle=True)

In [54]:
X_train , X_test , y_train , y_test = train_test_split(X,output,test_size=0.3,random_state=320)

In [55]:
classifier =  DecisionTreeClassifier(criterion='entropy', random_state = 0)#gini argument reducing accuracy to 85

In [56]:
from sklearn.tree import DecisionTreeClassifier

In [57]:
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=0, splitter='best')

In [58]:
prediction = classifier.predict(X_test)

In [59]:
prediction

array([0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 1])

In [60]:
X_test.describe()

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am
count,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000,320.000000
mean,919.031209,64.884268,143.705387,5.194047,148.761456,6.634198,0.094207,254.956950,34.076851
std,3.064287,11.099462,69.947932,4.380939,67.477328,5.355727,0.647429,1437.309454,25.707203
min,911.000000,39.524000,15.500000,0.693451,40.851693,1.275056,0.000000,0.000000,6.290000
25%,916.746764,57.308000,68.729043,2.147462,77.225000,2.969538,0.000000,0.000000,15.126899
50%,919.023206,65.950726,166.837563,3.550390,174.850000,4.686389,0.000000,0.000000,22.855972
75%,921.352500,72.991145,190.300000,6.515088,200.350000,8.159239,0.000000,0.000000,45.867500
max,929.320000,89.402000,333.000000,21.519363,292.800000,25.605325,8.900000,15849.000000,92.410000

In [39]:
# y_test
import numpy as np

In [61]:
accuracy_score(y_test,prediction) * 100

88.75

In [180]:
# test = np.array([921.352500,72.991145,190.300000,6.515088,200.350000,8.159239,0.000000,0.000000,45.867500]).reshape(1,-1)

In [188]:
# len(test)

In [182]:
# p1 =classifier.predict(test)

In [25]:
from sklearn.metrics import accuracy_score

In [187]:
# p1

In [194]:
# from sklearn.tree import DecisionTreeRegressor

In [195]:
# regressor = DecisionTreeRegressor()

In [196]:
# regressor.fit(X_train,y_train)

In [197]:
# y_train

In [62]:
from sklearn.metrics import confusion_matrix

In [63]:
con_met = confusion_matrix(y_test,prediction)

In [64]:
con_met

array([[164,  22],
       [ 14, 120]])