In [7]:
import pandas as pd

In [8]:
data = pd.read_csv('daily_weather.csv')

In [9]:
data.head()

,number,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000

In [10]:
del data['number']

In [11]:
data = data.dropna()

In [12]:
output =  data['relative_humidity_3pm']

In [9]:
data

,air_pressure_9am,air_temp_9am,avg_wind_direction_9am,avg_wind_speed_9am,max_wind_direction_9am,max_wind_speed_9am,rain_accumulation_9am,rain_duration_9am,relative_humidity_9am,relative_humidity_3pm
0,918.060000,74.822000,271.100000,2.080354,295.400000,2.863283,0.0,0.0,42.420000,36.160000
1,917.347688,71.403843,101.935179,2.443009,140.471548,3.533324,0.0,0.0,24.328697,19.426597
2,923.040000,60.638000,51.000000,17.067852,63.700000,22.100967,0.0,20.0,8.900000,14.460000
3,920.502751,70.138895,198.832133,4.337363,211.203341,5.190045,0.0,0.0,12.189102,12.742547
4,921.160000,44.294000,277.800000,1.856660,136.500000,2.863283,8.9,14730.0,92.410000,76.740000
...,...,...,...,...,...,...,...,...,...,...
1090,918.900000,63.104000,192.900000,3.869906,207.300000,5.212070,0.0,0.0,26.020000,38.180000
1091,918.710000,49.568000,241.600000,1.811921,227.400000,2.371156,0.0,0.0,90.350000,73.340000
1092,916.600000,71.096000,189.300000,3.064608,200.800000,3.892276,0.0,0.0,45.590000,52.310000
1093,912.600000,58.406000,172.700000,3.825167,189.100000,4.764682,0.0,0.0,64.840000,58.280000
1094,921.530000,77.702000,97.100000,3.265932,125.900000,4.451511,0.0,0.0,14.560000,15.100000

In [13]:
del data['relative_humidity_3pm']

In [34]:
X=data

In [15]:
from sklearn.model_selection import train_test_split

/home/ashan/anaconda3/lib/python3.7/importlib/_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [35]:
X_train , X_test , y_train , y_test = train_test_split(X,output,test_size=0.3,random_state=320)

In [36]:
from sklearn.tree import DecisionTreeRegressor

In [50]:
regressor =  DecisionTreeRegressor(max_leaf_nodes=10,random_state=0)

In [67]:
regressor.fit(X_train,y_train)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
                      max_leaf_nodes=10, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      presort=False, random_state=0, splitter='best')

In [52]:
prediction = regressor.predict(X_test)

In [53]:
prediction

array([24.85437493, 19.83565039, 80.42837209, 12.86841882, 51.59336735,
       24.85437493, 34.23628198, 41.78922012, 24.85437493, 24.85437493,
       19.83565039, 73.84464286, 12.86841882, 32.46987128, 19.83565039,
       34.23628198, 12.86841882, 51.59336735, 19.83565039, 34.23628198,
       51.59336735, 32.46987128, 24.85437493, 73.84464286, 12.86841882,
       19.83565039, 80.42837209, 62.917     , 19.83565039, 19.83565039,
       19.83565039, 51.59336735, 51.59336735, 19.83565039, 51.59336735,
       19.83565039, 32.46987128, 41.78922012, 51.59336735, 19.83565039,
       34.23628198, 62.917     , 12.86841882, 24.85437493, 12.86841882,
       19.83565039, 19.83565039, 24.85437493, 19.83565039, 19.83565039,
       51.59336735, 34.23628198, 12.86841882, 62.917     , 41.78922012,
       19.83565039, 12.86841882, 34.23628198, 12.86841882, 19.83565039,
       51.59336735, 12.86841882, 73.84464286, 12.86841882, 41.78922012,
       62.917     , 24.85437493, 34.23628198, 73.84464286, 62.917     ,
       32.46987128, 41.78922012, 19.83565039, 19.83565039, 12.86841882,
       24.85437493, 24.85437493, 19.83565039, 51.59336735, 34.23628198,
       19.83565039, 19.83565039, 62.917     , 62.917     , 32.46987128,
       32.46987128, 19.83565039, 12.86841882, 24.85437493, 34.23628198,
       32.46987128, 41.78922012, 34.23628198, 62.917     , 19.83565039,
       24.85437493, 80.42837209, 12.86841882, 73.84464286, 19.83565039,
       62.917     , 80.42837209, 73.84464286, 34.23628198, 19.83565039,
       32.46987128, 24.85437493, 73.84464286, 41.78922012, 73.84464286,
       19.83565039, 19.83565039, 19.83565039, 19.83565039, 34.23628198,
       51.59336735, 51.59336735, 24.85437493, 62.917     , 19.83565039,
       12.86841882, 19.83565039, 19.83565039, 19.83565039, 12.86841882,
       19.83565039, 80.42837209, 12.86841882, 80.42837209, 24.85437493,
       12.86841882, 19.83565039, 51.59336735, 19.83565039, 19.83565039,
       19.83565039, 51.59336735, 24.85437493, 62.917     , 51.59336735,
       19.83565039, 32.46987128, 34.23628198, 34.23628198, 19.83565039,
       80.42837209, 19.83565039, 19.83565039, 24.85437493, 19.83565039,
       62.917     , 24.85437493, 80.42837209, 19.83565039, 24.85437493,
       19.83565039, 12.86841882, 51.59336735, 12.86841882, 24.85437493,
       19.83565039, 12.86841882, 19.83565039, 51.59336735, 62.917     ,
       73.84464286, 12.86841882, 19.83565039, 19.83565039, 80.42837209,
       62.917     , 41.78922012, 34.23628198, 19.83565039, 24.85437493,
       19.83565039, 62.917     , 24.85437493, 51.59336735, 19.83565039,
       80.42837209, 34.23628198, 34.23628198, 19.83565039, 24.85437493,
       73.84464286, 51.59336735, 32.46987128, 34.23628198, 12.86841882,
       12.86841882, 62.917     , 19.83565039, 19.83565039, 19.83565039,
       19.83565039, 19.83565039, 62.917     , 19.83565039, 19.83565039,
       73.84464286, 19.83565039, 73.84464286, 51.59336735, 80.42837209,
       62.917     , 19.83565039, 51.59336735, 19.83565039, 19.83565039,
       51.59336735, 19.83565039, 73.84464286, 62.917     , 41.78922012,
       34.23628198, 51.59336735, 51.59336735, 24.85437493, 19.83565039,
       19.83565039, 19.83565039, 12.86841882, 19.83565039, 24.85437493,
       24.85437493, 24.85437493, 12.86841882, 19.83565039, 62.917     ,
       12.86841882, 24.85437493, 62.917     , 51.59336735, 51.59336735,
       51.59336735, 19.83565039, 41.78922012, 19.83565039, 51.59336735,
       19.83565039, 34.23628198, 34.23628198, 24.85437493, 19.83565039,
       24.85437493, 73.84464286, 19.83565039, 41.78922012, 19.83565039,
       51.59336735, 24.85437493, 32.46987128, 62.917     , 73.84464286,
       19.83565039, 24.85437493, 62.917     , 19.83565039, 80.42837209,
       12.86841882, 19.83565039, 19.83565039, 19.83565039, 12.86841882,
       19.83565039, 12.86841882, 19.83565039, 19.83565039, 19.83565039,
       19.83565039, 24.85437493, 51.59336735, 34.23628198, 19.83565039,
       24.85437493, 34.23628198, 62.917     , 32.46987128, 80.42837209,
       12.86841882, 73.84464286, 19.83565039, 19.83565039, 19.83565039,
       24.85437493, 12.86841882, 24.85437493, 12.86841882, 19.83565039,
       34.23628198, 51.59336735, 51.59336735, 51.59336735, 19.83565039,
       73.84464286, 34.23628198, 34.23628198, 24.85437493, 24.85437493,
       19.83565039, 62.917     , 12.86841882, 24.85437493, 19.83565039,
       34.23628198, 32.46987128, 73.84464286, 24.85437493, 12.86841882,
       62.917     , 62.917     , 41.78922012, 19.83565039, 73.84464286,
       19.83565039, 19.83565039, 24.85437493, 73.84464286, 51.59336735])

In [34]:
# from sklearn.model_selection import cross_val_score
# prediction =prediction.reshape(-1,1)

In [33]:
import numpy as np

In [41]:
# y_test = np.array(y_test).reshape(-1,1)

In [54]:
regressor.score(X_test,y_test)* 100

79.24887199376191

In [55]:
# import modin.pandas as pd

In [56]:
# import time

In [1]:
# from sklearn.preprocessing import StandardScaler

In [2]:
# sc = StandardScaler()

In [23]:
# X_train = sc.fit_transform(X_train)

In [24]:
# X_test = sc.transform(X_test)

In [32]:
# from sklearn.metrics import confusion_matrix

In [31]:
# confusion_metrix = confusion_matrix(y_test,prediction)